body {
  background-color: rgb(197, 122, 122);
  color: rgb(179, 214, 133);
  font-family: Helvetica;
  font-size: 16px;
  }
  .reverse {
  background-color: rgb(117, 116, 196) !important;
  color: rgb(255, 255, 255);
  }
  p {
  padding: 23px;
  }